<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackingtrace.vancexu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        
        <receiver android:name="com.hackingtrace.vancexu.task.TaskAlarmReceiver" android:process=":remote" />
        
        <activity
            android:name=".AimToActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ActivityOne"></activity>
        <activity android:name="com.hackingtrace.vancexu.task.AimToTaskActivity"></activity>
        	<activity android:name="com.hackingtrace.vancexu.task.TaskEdit" />
        	<activity android:name="com.hackingtrace.vancexu.task.TaskTimeSet" />
        	<service android:name="com.hackingtrace.vancexu.task.TaskNotification" />
        <activity android:name="com.hackingtrace.vancexu.aim.AimToAimActivity"></activity>
        	<activity android:name="com.hackingtrace.vancexu.aim.AimEdit" />
        	<activity android:name="com.hackingtrace.vancexu.aim.AimWatch" />
        <activity android:name="com.hackingtrace.vancexu.chart.ChartActivity"></activity>
    </application>

</manifest>